<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.6.0" newVersion="3.3.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.24.0.0" newVersion="6.24.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.47.2.0" newVersion="4.47.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.4" newVersion="7.0.0.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog>
    <targets>
      <target name="logconsole" type="Console" />
      <target name="logfile" type="File" fileName="c:\temp\response_collector_file.txt" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logconsole" />
      <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
  </nlog>
  <connectionStrings>
    <add name="SqlConnection" connectionString="server=LUIS-SURFACE; database=affirstv2; Integrated Security=SSPI;trusted_connection=true;encrypt=false" />
  </connectionStrings>
  <appSettings>
	<add key="connectionstring" value="server=LUIS-SURFACE; database=affirstv2; Integrated Security=SSPI;trusted_connection=true;encrypt=false" />
    <add key="SurveyMonkeyApiOptions_BaseAddress" value="https://api.surveymonkey.net/" />
    <add key="SurveyMonkeyApiOptions_TimeOutInSeconds" value="30" />
    <add key="SurveyMonkeyApiOptions_ApiVersion" value="v3" />
    <add key="SurveyMonkeyApiOptions_AccessToken" value="klkujOLcGEOka0vbad-wiF9i3in98UF4Heij268u5lzXyM-Y3CwOEllGP0TQMeL7ate4VWg762JySKKd3EtRZnuhZIbjh046w48S4HbZMrW6d.tgyEvE1yCeuEcRi2vn," />
    <add key="SurveyMonkeyApiEndpoints_Surveys" value="surveys" />
    <add key="SurveyMonkeyApiEndpoints_SurveysPerPageParam" value="10" />
    <add key="SurveyMonkeyApiEndpoints_SurveyStartModifiedAt" value="2023-01-01T00:00:00" />
    <add key="SurveyMonkeyApiEndpoints_SurveyEndModifiedAt" value="2023-05-21T00:00:00" />
    <add key="SurveyMonkeyApiEndpoints_SurveyNumberOfDaysToLoad" value="90" />
    <add key="SurveyMonkeyApiEndpoints_SurveysById" value="surveys/{id}" />
    <add key="SurveyMonkeyApiEndpoints_SurveyDetails" value="surveys/{id}/details" />
    <add key="SurveyMonkeyApiEndpoints_SurveyCollectors" value="surveys/{id}/collectors" />
    <add key="SurveyMonkeyApiEndpoints_CollectorRecipients" value="collectors/{id}/recipients" />
    <add key="SurveyMonkeyApiEndpoints_SurveyReponse" value="surveys/{id}/responses/bulk" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>